*{
	margin:0;
	padding:0;
	}
	.main
	{
		top:0;
		position:absolute;
		left:0;
		width: 100%;
		height: 120vh;
		background-image:url("d.jpg");
		background-repeat: no-repeat;
		background-position:cover;
	}
	.top
	{
		width: 100%;
		height: 10%;
		background-image: linear-gradient(purple,blue);
	text-align: center;
	font-size: 25;
	}
	.chalna
	{
		top: 40%;
		left:40%;
		
		width:30%;
		height: 20%;
		background-color:purple;
	color: white;
	font-size: 25px;
	}
	.menu
	{
		margin: 0%;
		padding: 0%;
		top: 10%;
		width: 60%;
		right: 0%;
		left: 41%;
		bottom: 55%;
		height:10%;
		display:flex;
		justify-content:space-around;
		position: absolute;
		
		/*background-image: linear-gradient(to left ,purple,white);
	    border-left: 40px solid white;
	    border-top: 40px linear-gradient(to top, white ,purple);*/
   	}
   	.menu a
   	{
   		top:20%;
   		text-decoration: none;
   		color: white;
   		font-weight: bold;
   		position: relative; 
   	}
   	/*.menu a:first-child
   	{
   		color: black;
   	}*/

   	.im
   	{
   		position: absolute;
   		left: 45%;
   		top:25%;
   		height: 35%;
   		width:30%;
   	}
   	.about
   	{
   		position: absolute;
   		top:28%;
   		font-size: 30px;
   		font-family: times new roman;
   	    font-weight: bold;
   	}
   	.right
   	{
   		position: absolute;
   		top:60%;
   		font-size: 25px;
   		font-family: verdana;
   	}
   	.login
   	{
		border-style:outset;
   		
		position: absolute;
   		top:30%;
		left:40%;
   		font-size: 30px;
		height:250px;
		width:250px
	
   		font-family: times new roman;
   	    font-weight: bold;
		
   	}
	.image{
		position: absolute;
   		top:30%;
		left:60%;
	}
	.imgr
	{
		position:absolute;
		top:28%;
		left:85%;
	}
	.cb
	{
		top:29%;
		left:25%;
		background-image:url("fback1.jpg");
		position:absolute;
		border-style:outset;
		
   		
	}
	.fab
	{
		top:30%;
		left:25%;
		background-image:url("fback1.jpg");
		position:absolute;
		border-style:outset;
		
   		
	}
	.lst
	{
		position:absolute;
		top:150;
		left:35%;
		border-style:outset;
		background-image:url("m.jpg");
		width:314px;
		height:209px;
		
		
		color:white;
		
	}
	.cllg
	{
		position:absolute;
		top:25%;
		left:20%;
	}
	.logo
	{
		
	position:absolute;
		top:25%;
		
	}
	.ab
	{
	position:absolute;
		top:150;
		left:35%;
		width:305px;
		height:235px;
		border-style:outset;
		background-image:url("l.jpg");	
	}
	.alg
	{
		position:absolute;
		bottom:24%;
	
		left:48%;
	}
	.cloud
	{
		
	background-color:red;	
		width:305px;
		height:235px;
	}
	.tt
	{
		left:40%;
		top:30%;
	}
	.topmenu {
	background-image: url(menu-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 2500px;
	height: 100px;
	position:absolute;
	top:10%;
	text-align:center;
	
}
.topmenu ul {
	height: 74px;
	margin-left: 45px;
	list-style-type: none;
}
.topmenu ul li {
	background-image: url(devider.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 74px;
	float: left;
	padding-right: 13px;
	padding-left: 13px;
}
.topmenu ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 74px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 74px;
	float: left;
	padding-left: 15px;
}
.topmenu ul li a span {
	display: block;
	height: 74px;
	float: left;
	padding-right: 35px;
	cursor: pointer;
}
.topmenu ul li a:hover {
	background-image: url(menu-left.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color: #000000;
}
.topmenu ul li a:hover span {
	background-image: url(menu-right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	color: #000000;
}
.ws
{
	position:absolute;
	top:38%;
}
.wsj
{
	position:absolute;
	top:30%;
}
.w
{
	position:absolute;
	top:39%;
	left:35%;
}

.notify
{
	position:absolute;
	top:40%;
	left:60%;
    background-image:url("a.jpg");
}
.wl
{
	position:absolute;
	top:30%;
	left:42%;
}

		.subm1
	{
		display:none;
	}
	.subm2
	{
		display:none;
	}
	.subm3
	{
		display:none;
	}
.topmenu ul li:hover .subm1{
display:block;
position:absolute;
top:74%;
left:6%;
width:140px;
margin:0;
font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;

background-image:linear-gradient(yellow,green);
}
.topmenu ul li:hover .subm1 ul
{display:block;
margin:0;
}
.topmenu ul li:hover .subm1 ul li
{
	display:block;
	background-image:none;
	display:inline-flex;
height:20px;
left:25;
width:60px;
margin:0;
border-bottom:2px dotted #000;

}
.topmenu ul li:hover .subm1 ul li a
{
	background-image:none;
	line-height:19px;
	padding-left: 0px;
	}
.school{
	position:absolute;
	top:10%;left:57%;
}